In [1]:
#Trick 14
#how to build datafarame from multiple csv files

In [2]:
import pandas as pd

In [9]:
pd.read_csv('/content/drive/MyDrive/Churn_Modelling_1.csv')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [10]:
pd.read_csv('/content/drive/MyDrive/Churn_Modelling_2.csv')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
1,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
2,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
3,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
4,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
5,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
6,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
7,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
8,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
9,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0

In [11]:
pd.read_csv('/content/drive/MyDrive/Churn_Modelling_3.csv')

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
1,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
2,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
3,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
4,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
5,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
6,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
7,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
8,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
9,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
from glob import glob

In [13]:
churn_files=sorted(glob('/content/drive/MyDrive/Churn_Modelling_*.csv'))
churn_files

['/content/drive/MyDrive/Churn_Modelling_1.csv',
 '/content/drive/MyDrive/Churn_Modelling_2.csv',
 '/content/drive/MyDrive/Churn_Modelling_3.csv',
 '/content/drive/MyDrive/Churn_Modelling_OLJMTbt.csv']

In [14]:
pd.concat(pd.read_csv(file) for file in churn_files)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [15]:
pd.concat((pd.read_csv(file) for file in churn_files),ignore_index=True)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10025,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
10026,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
10027,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
10028,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
10029,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0