**Pandas Tricks**

Trick 01<br></br>
Memory Usage

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
#Import Data and Make DataFrame

In [5]:
df=pd.read_csv('/content/drive/MyDrive/Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Memory Usage for each columns

In [6]:
#Calculating the memory used by the entire dataframe

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 2.6 MB

In [10]:
#calculating the momory useage per column(Bytes)

In [9]:
df.memory_usage(deep=True)

Index                 128
RowNumber           80000
CustomerId          80000
Surname            634349
CreditScore         80000
Geography          630032
Gender             619086
Age                 80000
Tenure              80000
Balance             80000
NumOfProducts       80000
HasCrCard           80000
IsActiveMember      80000
EstimatedSalary     80000
Exited              80000
dtype: int64