**Pandas Tricks**

Trick 05<br></br>

Styling

In [37]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
#Import Data and Make DataFrame

In [38]:
df=pd.read_csv('/content/drive/MyDrive/stocks.csv')
df.head()

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT

In [39]:
#Styling

In [40]:
df.columns

Index(['Date', 'Close', 'Volume', 'Symbol'], dtype='object')

In [41]:
formatter={'Close':'${:.2f}','Volume':'{:,}'}

In [43]:
df.style.format(formatter)

In [56]:
(df.style.format(formatter)
.hide()
.highlight_min('Close',color='red')
.highlight_max('Close',color='lightgreen')
)

In [57]:
(df.style.format(formatter)
.hide()
.background_gradient(subset='Volume',cmap='Blues')
)

In [65]:
(df.style.format(formatter)
.hide()
.bar('Volume',color='lightblue',align='zero')
.set_caption('Stock Prices from October 2016'))